@import "../base/variables";

/* Estilos del footer */
footer {
    text-align: center;
    background-color: $color-principal;
    width: 100%;
    bottom: 0px;

    p {
        color: $color-secundario;
    }
}

.margen-derecho {
    margin-right: 40px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.img-correo {
    background-color: yellow;
    padding: 6px 12px;
    width: 75px;
    height: 30px;
}

.img-tarjeta {
    width: 45px;
    height: 30px;
}

.img-redes{
    width: 40px;
    height: 40px;
}